<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Yog-Ai-t | AI yoga companion</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon">
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <div id="logo">
                <h1><a href="/">Yog<span>Ai</span>t</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="static/img/logo.png" alt="" title="" /></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li>
                        <a class="nav-link scrollto active" href="#learn-section">Learn</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto " href="#compete-section">Compete</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto " href="#stretch-section">Stretch</a>
                    </li>
                    <li>
                    </li>
                    <li><a class="nav-link scrollto" href="/logout">Logout</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->
        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container" data-aos="fade-in">
            <h1>{% if username: %}{{username}}{% endif %} , Welcome to Yog-Ai-t</h1>
            <h2>Yoga is not about perfection. It's about practice!</h2>
            <!-- <h2>your AI yoga companion &amp; more...</h2> -->
            <img src="static/img/yogait-main.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100" style="width: 45%" />
            <a href="#get-started" class="btn-get-started scrollto">Get Started</a>
        </div>
    </section>
    <!-- End Hero Section -->

    <main id="main">
        <!-- ======= Get Started Section ======= -->
        <section id="get-started" class="padd-section text-center">
            <div class="container" data-aos="fade-up">
                <div class="section-title text-center">
                    <h2>What you wanna do??</h2>
                    <p class="separator">Choose as per you mood...</p>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                        <a class="scrollto" href="#learn-section">
                            <div class="feature-block">
                                <img src="static/img/learn.png" alt="img" />
                                <h4>Learn</h4>
                                <p>
                                    Learn a multitude of yoga asanas with proper instructions and illustrations on how to perform them correctly.
                                </p>
                                read more
                            </div>
                        </a>
                    </div>

                    <div id="practice-section" class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                        <a href="/compete">
                            <div class="feature-block">
                                <img src="static/img/practice.png" alt="img" />
                                <h4>Compete</h4>
                                <p>
                                    Practice your yoga poses by maximizing your score which will be provided on the basis of the correctness of the yoga pose.
                                </p>
                                read more
                            </div>
                        </a>
                    </div>

                    <div id="stretch-section" class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                        <a href="stretch">
                            <div class="feature-block">
                                <img src="static/img/stretch.jpg" alt="img" />
                                <h4>Stretch</h4>
                                <p>
                                    Stretching on a regular basis can help you avoid injuries and develop your flexibility, both of which can be useful to you.
                                </p>
                                read more
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Get Started Section -->
    </main>
    <section id="learn-section" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2>Yoga Asañas | Learn</h2>
                <p class="separator">Learning is the new begining...</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-md-6 col-lg-3">
                    <div class="feature-block">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="{{url_for('static', filename='img/yoga_poses/vajrasana.jpg')}}" style="width:300px;height:300px;">
                                </div>
                                <div class="flip-card-back">
                                    <span style="font-size: 20px; margin-top: 50px; padding-top: 10px;">
                                        Benefits: Body alignment is improved thanks to this pose.
                                    </span>
                                    <div>
                                        <a href="/" class="yoga-get-started">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 style="color: #fff;">creative design</h4>
                        <p style="color: #fff;">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        </p>
                    </div>
                </div>

                <div class=" col-md-6 col-lg-3 ">
                    <div class="feature-block ">
                        <div class="flip-card ">
                            <div class="flip-card-inner ">
                                <div class="flip-card-front ">
                                    <img src="{{url_for( 'static', filename='img/yoga_poses/bhujangasana.jpg' )}} " style="width:300px;height:300px; ">
                                </div>
                                <div class="flip-card-back ">
                                    <span style="font-size: 20px; ">Benefits: This pose is therapeutic for
                                        asthma.</span>
                                    <div>
                                        <a href="/" class="yoga-get-started">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 style="color: #fff;">Retina Ready</h4>
                        <p style="color: #fff;">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 ">
                    <div class="feature-block ">
                        <div class="flip-card ">
                            <div class="flip-card-inner ">
                                <div class="flip-card-front ">
                                    <img src="{{url_for( 'static', filename='img/yoga_poses/matsyasana.jpg' )}} " style="width:300px;height:300px; ">
                                </div>
                                <div class="flip-card-back ">
                                    <span style="font-size: 20px; ">Benefits: This pose strengths muscles.</span>
                                    <div>
                                        <a href="/" class="yoga-get-started">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 style="color: #fff;">easy to use</h4>
                        <p style="color: #fff;">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 ">
                    <div class="feature-block ">
                        <div class="flip-card ">
                            <div class="flip-card-inner ">
                                <div class="flip-card-front ">
                                    <img src="{{url_for( 'static', filename='img/yoga_poses/pashchimottanasana.jpg' )}} " style="width:300px;height:300px; ">
                                </div>
                                <div class="flip-card-back ">
                                    <span style="font-size: 20px; ">Benefits: This pose helps with relieving the
                                        symptoms of menopause and menstrual discomfort.</span>
                                    <div>
                                        <a href="/" class="yoga-get-started">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 style="color: #fff;">Free Updates</h4>
                        <p style="color: #fff;">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 ">
                    <div class="feature-block ">
                        <div class="flip-card ">
                            <div class="flip-card-inner ">
                                <div class="flip-card-front ">
                                    <img src="{{url_for( 'static', filename='img/yoga_poses/vajrasana.jpg' )}} " style="width:300px;height:300px; ">
                                </div>
                                <div class="flip-card-back ">
                                    <span style="font-size: 20px; ">
                                        Benefits: This pose helps regulate blood circulation </span>
                                    <div>
                                        <a href="/" class="yoga-get-started">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 style="color: #fff;">Free Updates</h4>
                        <p style="color: #fff;">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 ">
                    <div class="feature-block ">
                        <div class="flip-card ">
                            <div class="flip-card-inner ">
                                <div class="flip-card-front ">
                                    <img src="{{url_for( 'static', filename='img/yoga_poses/pavanmuktasana.jpg' )}} " style="width:300px;height:300px; ">
                                </div>
                                <div class="flip-card-back ">
                                    <span style="font-size: 20px; ">Benefits: This pose improves your digestive
                                        system.</span>
                                    <div>
                                        <a href="/" class="yoga-get-started">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 style="color: #fff;">App store support</h4>
                        <p style="color: #fff;">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 ">
                    <div class="feature-block ">
                        <div class="flip-card ">
                            <div class="flip-card-inner ">
                                <div class="flip-card-front ">
                                    <img src="{{url_for( 'static', filename='img/yoga_poses/trikonasana.jpg' )}} " style="width:300px;height:300px; ">
                                </div>
                                <div class="flip-card-back ">
                                    <span style="font-size: 20px; ">Benefits: This pose stimulates function of reducing
                                        stress.</span>
                                    <div>
                                        <a href="/" class="yoga-get-started">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 style="color: #fff;">Perfect Pixel</h4>
                        <p style="color: #fff;">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 ">
                    <div class="feature-block ">
                        <div class="flip-card ">
                            <div class="flip-card-inner ">
                                <div class="flip-card-front ">
                                    <img src="{{url_for( 'static', filename='img/yoga_poses/shavasana.jpg' )}} " style="width:300px;height:300px; ">
                                </div>
                                <div class="flip-card-back ">
                                    <span style="font-size: 20px; ">Benefits: This pose is an important one for
                                        reducing anxiety.</span>
                                    <div>
                                        <a href="/" class="yoga-get-started">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 style="color: #fff;">clean codes</h4>
                        <p style="color: #fff;">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 ">
                    <div class="feature-block ">
                        <div class="flip-card ">
                            <div class="flip-card-inner ">
                                <div class="flip-card-front ">
                                    <img src="{{url_for( 'static', filename='img/yoga_poses/utkatasana.jpg' )}} " style="width:300px;height:300px; ">
                                </div>
                                <div class="flip-card-back ">
                                    <span style="font-size: 20px; ">Benefits: This one stimulates the heart,
                                        diaphragm, and abdominal organs.</span>
                                    <div>
                                        <a href="/" class="yoga-get-started">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 style="color: #fff;">Perfect Pixel</h4>
                        <p style="color: #fff;">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 ">
                    <div class="feature-block ">
                        <div class="flip-card ">
                            <div class="flip-card-inner ">
                                <div class="flip-card-front ">
                                    <img src="{{url_for( 'static', filename='img/yoga_poses/uttanasana.jpg' )}} " style="width:300px;height:300px; ">
                                </div>
                                <div class="flip-card-back ">
                                    <span style="font-size: 20px; ">Benefits: This pose helps strengthen your body
                                        and aids in digestion.</span>
                                    <div>
                                        <a href="/" class="yoga-get-started">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 style="color: #fff;">Perfect Pixel</h4>
                        <p style="color: #fff;">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 ">
                    <div class="feature-block ">
                        <div class="flip-card ">
                            <div class="flip-card-inner ">
                                <div class="flip-card-front ">
                                    <img src="{{url_for( 'static', filename='img/yoga_poses/balasana.jpg' )}} " style="width:300px;height:300px; ">
                                </div>
                                <div class="flip-card-back ">
                                    <span style="font-size: 20px; ">Benefits: This one stimulates the heart,
                                        diaphragm, and abdominal organs.</span>
                                    <div>
                                        <a href="/" class="yoga-get-started">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 style="color: #fff;">Perfect Pixel</h4>
                        <p style="color: #fff;">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 ">
                    <div class="feature-block ">
                        <div class="flip-card ">
                            <div class="flip-card-inner ">
                                <div class="flip-card-front ">
                                    <img src="{{url_for( 'static', filename='img/yoga_poses/ardha-matsyendrasana.jpg' )}} " style="width:300px;height:300px; ">
                                </div>
                                <div class="flip-card-back ">
                                    <span style="font-size: 20px; ">Benefits: This pose helps strengthen your body
                                        and aids in digestion.</span>
                                    <div>
                                        <a href="/" class="yoga-get-started">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 style="color: #fff;">Perfect Pixel</h4>
                        <p style="color: #fff;">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        </p>
                    </div>
                </div>

                <!-- Extra template -->
                <!-- <div class="col-md-6 col-lg-3 ">
                    <div class="feature-block ">
                        <img src="static/img/svg/pixel.svg " alt="img ">
                        <h4>Perfect Pixel</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                </div> -->

            </div>
        </div>
    </section>
    <!-- ======= Footer ======= -->
    <footer class="footer ">
        <div class="container ">
            <div class="row ">

                <div class="col-md-12 col-lg-4 ">
                    <div class="footer-logo ">

                        <a class="navbar-brand " href="# ">Yog-Ai-t</a>
                        <p>Yoga is not about perfection. It’s about practice!</p>

                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-2 ">
                    <div class="list-menu ">

                        <h4>About Us</h4>

                        <ul class="list-unstyled ">
                            <li><a href="# ">About us</a></li>
                            <li><a href="# ">Features item</a></li>
                            <li><a href="# ">Live streaming</a></li>
                            <li><a href="# ">Privacy Policy</a></li>
                        </ul>

                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-2 ">
                    <div class="list-menu ">

                        <h4>Abou Us</h4>

                        <ul class="list-unstyled ">
                            <li><a href="# ">About us</a></li>
                            <li><a href="# ">Features item</a></li>
                            <li><a href="# ">Live streaming</a></li>
                            <li><a href="# ">Privacy Policy</a></li>
                        </ul>

                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-2 ">
                    <div class="list-menu ">

                        <h4>Support</h4>

                        <ul class="list-unstyled ">
                            <li><a href="# ">faq</a></li>
                            <li><a href="# ">Editor help</a></li>
                            <li><a href="# ">Contact us</a></li>
                            <li><a href="# ">Privacy Policy</a></li>
                        </ul>

                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-2 ">
                    <div class="list-menu ">

                        <h4>Abou Us</h4>

                        <ul class="list-unstyled ">
                            <li><a href="# ">About us</a></li>
                            <li><a href="# ">Features item</a></li>
                            <li><a href="# ">Live streaming</a></li>
                            <li><a href="# ">Privacy Policy</a></li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>

        <div class="copyrights ">
            <div class="container ">
                <p>&copy; Copyrights Yog-Ai-t. All rights reserved.</p>
                <div class="credits ">
                    Designed by <a href="https://bootstrapmade.com/ ">BootstrapMade</a>
                </div>
            </div>
        </div>

    </footer>
    <!-- End  Footer -->

    <a href="# " class="back-to-top d-flex align-items-center justify-content-center "><i
            class="bi bi-arrow-up-short "></i></a>

    <!-- Vendor JS Files -->
    <script src="static/vendor/aos/aos.js "></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js "></script>
    <script src="static/vendor/php-email-form/validate.js "></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js "></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js "></script>

</body>

</html>