<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>YogAit | AI yoga companion</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon">
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <div id="logo">
                <h1><a href="/">Yog<span>Ai</span>t</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="static/img/logo.png" alt="" title="" /></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li>
                        <a class="nav-link scrollto active" href="#learn-section">Learn</a
                >
              </li>
              <!-- <li>
                <a class="nav-link scrollto active" href="#practice-section"
                  >practice</a
                >
              </li> -->
              <li>
                <a class="nav-link scrollto active" href="#meditate-section"
                  >meditate</a
                >
              </li>
              <!-- <li><a class="nav-link scrollto" href="#about-us">About</a></li> -->
                    <!-- <li><a class="nav-link scrollto" href="#features">Features</a></li> -->
                    <!-- <li><a class="nav-link scrollto" href="#screenshots">Screenshots</a></li> -->
                    <li><a class="nav-link scrollto" href="#team">Team</a></li>
                    <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
                    <li><a class="nav-link scrollto" href="/logout">Logout</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->
        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container" data-aos="fade-in">
            <h1>{% if username: %}{{username}}{% endif %} , Welcome to YogAit</h1>
            <h2>Yoga is not about perfection. It's about practice!</h2>
            <!-- <h2>your AI yoga companion &amp; more...</h2> -->
            <img src="static/img/YogAit-main.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100" style="width: 45%" />
            <a href="#get-started" class="btn-get-started scrollto">Get Started</a>
        </div>
    </section>
    <!-- ======= Footer ======= -->
    <footer class="footer ">
        <div class="container ">
            <div class="row ">

                <div class="col-md-12 col-lg-4 ">
                    <div class="footer-logo ">

                        <a class="navbar-brand " href="# ">YogAit</a>
                        <p>Yoga is not about perfection. It’s about practice!</p>

                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-2 ">
                    <div class="list-menu ">

                        <h4>Abou Us</h4>

                        <ul class="list-unstyled ">
                            <li><a href="# ">About us</a></li>
                            <li><a href="# ">Features item</a></li>
                            <li><a href="# ">Live streaming</a></li>
                            <li><a href="# ">Privacy Policy</a></li>
                        </ul>

                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-2 ">
                    <div class="list-menu ">

                        <h4>Abou Us</h4>

                        <ul class="list-unstyled ">
                            <li><a href="# ">About us</a></li>
                            <li><a href="# ">Features item</a></li>
                            <li><a href="# ">Live streaming</a></li>
                            <li><a href="# ">Privacy Policy</a></li>
                        </ul>

                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-2 ">
                    <div class="list-menu ">

                        <h4>Support</h4>

                        <ul class="list-unstyled ">
                            <li><a href="# ">faq</a></li>
                            <li><a href="# ">Editor help</a></li>
                            <li><a href="# ">Contact us</a></li>
                            <li><a href="# ">Privacy Policy</a></li>
                        </ul>

                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-2 ">
                    <div class="list-menu ">

                        <h4>Abou Us</h4>

                        <ul class="list-unstyled ">
                            <li><a href="# ">About us</a></li>
                            <li><a href="# ">Features item</a></li>
                            <li><a href="# ">Live streaming</a></li>
                            <li><a href="# ">Privacy Policy</a></li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>

        <div class="copyrights ">
            <div class="container ">
                <p>&copy; Copyrights YogAit. All rights reserved.</p>
                <div class="credits ">
                    <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=YogAit
        -->
                    Designed by <a href="https://bootstrapmade.com/ ">BootstrapMade</a>
                </div>
            </div>
        </div>

    </footer>
    <!-- End  Footer -->

    <a href="# " class="back-to-top d-flex align-items-center justify-content-center "><i
            class="bi bi-arrow-up-short "></i></a>

    <!-- Vendor JS Files -->
    <script src="static/vendor/aos/aos.js "></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js "></script>
    <script src="static/vendor/php-email-form/validate.js "></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js "></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js "></script>

</body>

</html>